.project__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}

.project__item {
    
    color: var(--title-color);
    padding: 0.25rem 0.75rem;

    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
}

.project__item:hover {
    background-color: var(--title-color);
    color: var(--container-color);
}

.project__container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* grid-template-columns: repeat(2, max-content); */
    gap: 1rem;
    position: relative;
}

.project__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
    width: 30%;
    text-wrap: wrap;
    position: relative;
}

.project__img {
    width: 295px;
    height: 140px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
}

.project__title {
    font-size: 20px;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.project__button {
    color: var(--text-color);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    margin-top: 8%;
    font-weight: bold;
  
    
}
a{
    color: rgb(101, 101, 101);
}

.project__button-icon {
    font-size: 1.3rem;

    transition: 0.4s;
}

.project__button:hover .project__button-icon{
    transform: translateX(0.25rem);
}

/* ACTIVE PROJECT */
.active__project {
    background-color: var(--title-color);
    color: var(--container-color);
}

/* BREAK POINTS */
@media screen and (max-width: 992px) {
  

    .project__img {
        margin-bottom: 0.75rem;
    }

    .project__title {
        margin-bottom: 0.25rem;
    }
    .project__container{
        display: flex;
        justify-content: center;
    }
    .project__card{
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
   
    .project__container{
        display: flex;
        right: 30px;
    }
    .project__card{
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .project__container {
        grid-template-columns: 1fr;
    }

    .project__img {
        width: 100%;
    }
    .project__container{
        display: flex;
        flex-direction: column;
        right: 40px;

    }
    .project__card{
        right: 1px;

        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .project__item {
        font-size: var(--small-font-size);
    }
    .project__container{
        display: flex;
        flex-direction: column;
        right: 25px;
    }
    .project__card{
        width: 100%;
        right: px;
    }

    .project__filters {
        column-gap: 0.25rem;
    }
}
